tst_mappedvbotest
memcheckerror
tst_mappedtexture
tst_blocktest
*.suo
*.o
*~
*.pdb
*.deb
*.moc
*.cubin
moc_*.cpp
*.orig
*.remote
*.user
Makefile
Makefile.Debug
Makefile.Release
qtc-gdbmacros
*.xcodeproj
Info.plist
build
tmp
*.vcproj
debug
release
*.idb
*.ncb
*.dll
*.dsp
*.gz
*.so*
*.log
*.zip
*.app
*.a
*setup.exe
*.dylib
*.sln.cache
*.suo
*-result.png
*-diff.png
*-result.wav
*-diff.wav
.DS_Store
/3-sonicawe-api/FFTmoj/argv.txt
